<div class="jumbotron">
  <h1>Witaj</h1>
  <p>Przykładowy tekst</p>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Strona glowna', root_path, class: 'btn btn-primary' %>
</div>