<p>Witaj <%= @resource.email %>!</p>

<p>Odebraliśmy żądanie zresetowania Twojego hasła. Możesz to zrobić, klikając poniższy link.</p>

<p><%= link_to 'Zmień hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeżeli nie wysyłałeś żądania, usuń tą wiadomość.</p>
<p>Jeżeli nie klikniesz powyższego linka i nie utworzysz nowego hasła, nie zostanie ono zmienione.</p>
